/* Item.css */
.item-container-style {
  display: flex;
  flex-direction: row; /* Ensure a horizontal layout */
  width: 85%; /* Adjust the width as needed */
  height: 150px;
  border: 1px solid red;
  padding: 5x;
  margin: 16px;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer; /* Add a pointer cursor to indicate clickability */
}

.item-text-content-style {
  flex: 1; /* Take up the remaining space */
  display: flex;
  flex-direction: column; /* Stack title and description vertically */
  justify-content: flex-start; /* Align content to the start of the container */
  margin-left: 16px, /* Add some space between the image and text content */
}

.item-picture-style {
  width: 30%;
  height: 40%;
  padding: 10px;
  object-fit: cover;
  border-radius: 4px;
}

.item-title-style {
  font-size: 18px;
  margin: 3px;
  margin-bottom: 6px;
}

.item-info-style {
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 0px;
  margin-bottom: 0px;
}
