.container {
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  width: 80%;
  max-width: 400px; 
  text-align: center; 
}

.title {
  color: #333;
  text-align: center; 
  font-size: 24px; 
  font-weight: bold; 
  margin-top: 0;
  margin-bottom: 20px;
}

.image {
  width: 100%; 
  height: auto;
  margin-bottom: 20px;
  margin-top: 20px;

}

.description {
  color: #666; 
  font-size: 1em; 
  margin-bottom: 20px;
  text-align: left; 
}

.info {
  text-align: left;
  margin-bottom: 20px;
}

.detail {
  font-size: 1em; 
  margin-bottom: 20px;
  text-align: left;
}

.backButton {
  position: absolute;
  top: 53px;
  left: 140px; 
  background-color: transparent; 
  color: blue;
  font-size: 0.85em; 
  border: none;
  border-radius: 15px; 
  cursor: pointer;
}

.addButton {
  background-color: red; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  display: block; 
  width: 100%; 
  margin-left: auto; 
  margin-right: auto;
}

.backButton:hover, .addButton:hover {
  opacity: 0.8;
}

.container:after {
  content: "";
  display: block;
  margin-bottom: 20px;
}