/* ItineraryWidget.css */
.outer-container-itinerary {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 420px;
    width: 350px;
    border: 1px solid red;
    border-radius: 25px;
    margin-top: 20px;
    padding: 10px; /* Add padding to ensure content is not cut off */
    cursor: pointer;
}

.outer-container-itinerary h1 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0px;
}

ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

li {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
}
