/* RadioButton.css */

/* RadioButton.css */
.radio-button {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0; /* Optional: Add margin for spacing around the group */
}

.radio-button-label {
  text-align: center;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
  /* margin-right: 10px; Optional: Adjust the margin between each label and radio button */
}
