.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.headerLink {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin-bottom: 20px;
}

.image {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.details p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 20px;
}

.location, .contact, .hours {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #555;
}

.addButton {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}

.addButton:hover {
  background-color: darkred;
}
